body {
  height: 100%;
  width: 100%;
  border: 5px solid darkseagreen;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}

#forecast {
  overflow-y: scroll;
  height: 395px;
}

#history {
  max-width: 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#main {
  margin-bottom: 55px;
}
